
// Colors


$w               : #ffffff;
$b               : #000000;


$primary_color   : #299CF9;
$secondary_color : #0dd294;
$tertiary_color  : #222222;
$light_color     : #F1F3F6;
$dark_color      : #222222;
$darker_color    : #222222;

$primary_text_color: #222222;
$secondary_text_color: #f5f5f5;


$link_color: #299CF9;
$hover_link_color: #222222;



// Fonts

 
 $body_font : 'Poppins', sans-serif;
 $font_heading: 'Poppins', sans-serif;


// Width
$max-width: 1170px;
